body {
   font-family: "Prata-Regular", sans-serif; 
   background-color: #8741D4;
   
}

.header {
    background-image: url("../img/wall.png");
    width: 100%;
    background-repeat: no-repeat;
    justify-content: space-between; /* justify-content свойство, которое выравнивает элементы внутри контейнера по основной (горизонтальной) оси */
    border-top: 2px solid white;;
}

.content {
   margin: 0 auto;
   width: 1280px;
   display: flex;  /* контейнер управляет блоками */
   position: relative;
   border-left: #ffffff 2px solid;
   border-right: #ffffff 2px solid;
   height: 900px;
}

.frame {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.tree {
    z-index: 1;
}

.witch {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.char {
    position: absolute;
    z-index: 3;
    font-size: 100px;
    text-transform: uppercase;
    /* left: 600px;
    bottom: 0;
    width: 1px; */
    color: #8741D4;
}

.char1 {
transform: rotate(-32deg);
top: 100px;
left: 418px;
}

.char2 {
    transform: rotate(-16deg);
    top: 60px;
    left: 505px;
}

.char3 {
    transform: rotate(0deg);
    height: 860px;
    top: 45px;
    left: 604px;
}

.char4{
    transform: rotate(16deg);
    top: 60px;
    right: 508px;
}

.char5{
    transform: rotate(32deg);
    top: 100px;
    right: 418px;
}

.book-section {
background-image: url("../img/books.png");
flex-direction: column;
position: relative;
}

.book-section__title {
    color: white;
    font-size: 48px;
    margin-top: 63px;
    margin-left: 88px;
}

.about {
    margin: 88px 0px 0px 88px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    color: rgb(135, 65, 212);
    padding-left: 26px;
}

.about-title {
    font-size: 30px;
    margin-top: 46px;

}

.about-text {
    font-size: 28px;
    line-height: 38px
}

.about-subtext {
    font-size: 25px;
    line-height: 34px
}
.about-text__wrapper {
    display: flex;
    flex-direction: column;
}

.about-text__last {
    font-size: 25px;
    line-height: 34px
}

.potion {
    position: absolute;
    width: 400px;
    height: 282px;
    left: 569px;
    top: 489px;
    z-index: 3;
    transform: rotate(17.2deg);
    padding: 22px 0px 0px 10px;
    color: rgb(135, 65, 212);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.potion-title {
    font-size: 20px;
    line-height: 27px;
}

.potion-text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 8px;
}

.cover {
    position: absolute;
    left: 913px;
    top: 128px;
    transform: rotate(-37deg);
    color: rgb(135, 65, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    

}

.cover-title {
font-size: 20px;
line-height: 27px;
}

.cover-text {
font-size: 25px;
line-height: 34px; 
}

.details-section__title {
    color: white;
    font-size: 48px;
    margin-top: 63px;
    margin-left: 88px;
}

.details-section {
    position: relative;
    background-image: url('../img/background-details.png');
}

.card {
    position: absolute;
    color: rgb(135, 65, 212);
    font-size: 20px;
    line-height: 27px;
}

.card1 {
    top: 420px;
    left: 104px;
}

.card2 {
    top: 490px;
    left: 364px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.card3 {
    top: 808px;
    left: 174px;
}

.letter-wrapper {
    position: absolute;
    display: flex;
    color: #8741D4;
    left: 676px;
    top: 134px;
    gap: 66px;
}

.latin {
    display: flex;
    flex-direction: column;
    gap: 164px;
}

.cyrillic {
    display: flex;
    flex-direction: column;
    gap: 163px;

}

.latin-name {
    font-size: 38px;
    line-height: 27px;
    margin-left: 7px;
}

.latin-symbol {
    font-size: 218px;
    line-height: 27px;

}

.cyrill-name {
    font-size: 38px;
    line-height: 27px;
    margin-left: 7px;
}

.cyrill-symbol {
    font-size: 218px;
    line-height: 27px;
}

.numbers-section {
    background-image: url(../img/background-number.png);
    display: flex;
    flex-direction: column;
    gap: 42px;

}

.numbers-section__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 55px 0 0 88px;
}

.numbers-section__title {
    color: white;
    font-size: 48px;

}

.numbers-section__subtitle {
    color: white;
    font-size: 35px;
    line-height: 47px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 88px;
}

.form-section {
    background-color: #ffffff;
    width: 400px;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-text {
    font-size: 25px;
    line-height: 34px;
    color: #8741D4;

}

.form-section__grid {
    display: grid;
    grid-template-columns: 100px 200px;
    row-gap: 29px;
    padding: 26px 0 35px 30px;
    column-gap: 39px;
}

.form-text-purple {
    color: #ffffff;
    background-color: #8741D4;
    border-radius: 10px;
    font-size: 25px;
    line-height: 34px;
    width: 99px;
    padding: 5px 0 5px 5px ;
}

.form-wrapper .form-section:not(:first-child) {
    padding: 13px 0 10px 30px;
}

.glyph-section__title {
    color: white;
    font-size: 48px;
    margin-top: 63px;
    margin-left: 88px;
}

.glyph-section__wrapper {
    display: grid;
    grid-template-columns: repeat(10,107px);
    grid-template-rows:  repeat(6,102px);
    margin-left: 90px;
    gap: 3px;
    
    
}

.glyph-section__wrapper div {
    background-color: #ffffff;
    color: #8741D4;
    font-size: 90px;
    
    

}

.glyph-section {
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.glyph-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-section {
    position: relative;
}

.dragons-bones {
    position: absolute;
    width: 184px;
    left: 127px;
    top: 62px;
    transform: rotate(24deg);
}

.salt {
    position: absolute;
    left: 381px;
    top: 1px;
}

.wool {
    position: absolute;
    left: 602px;
    top: 99px;

}

.magic_light {
    position: absolute;
    left: 858px;
    transform: rotate(-35deg);
    top: 48px;
}

.lavender {
    position: absolute;
    left: 262px;
    top: 229px;
}

.hogweed {
    position: absolute;
    left: 574px;
    top: 246px;
}

.stars {
    position: absolute;
    left: 1004px;
    top: 236px;
    width: 180px;
    transform: rotate(-12deg);
}

.boiler {
    position: absolute;
    left: 377px;
    top: 575px;
}

.snake {
    position: absolute;
    left: 925px;
    top: 533px;
    width: 173px;
    transform: rotate(-43deg);
}

.mushrooms {
    position: absolute;
    left: 103px;
    top: 482px;
    width: 207px;
    transform: rotate(-16deg);
}


.languages-section {
    display: flex;
    flex-direction: column;
    gap: 63px;
    background-image: url(../img/flask.png);
}

.languages-section__wrapper {
    font-size: 45px;
    line-height: 61px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 53px 0 0 88px;
}

.languages-content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    margin-left: 88px;
    line-height: 51px;
    font-size: 38px;
}

.last-section {
    height: 642px;
    position: relative;
    background-image: url(../img/last/background-broom.png);
    
}

.tee {
    position: absolute;
    left: 199px;
    top: 45px;
}

.runes {
    position: absolute;
    left: 567px;
    top: 41px;
}

.book-potions {
    position: absolute;
    left: 987px;
    top: 25px;
}

.until-next__time {
    position: absolute;
    left: 345px;
    top: 165px;
}

.tarot {
    position: absolute;
    left: 89px;
    top: 400px;
}

.incense {
    position: absolute;
    left: 375px;
    top: 477px;
}

.salt2 {
    position: absolute;
    left: 1051px;
    top: 445px;
}


.footer {
    width: 1280px;
    height: 197px;
    display: flex;
    gap: 498px;
    margin: 0 auto;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.footer-contacts__wrapper {
    font-size: 30px;
    line-height: 41px;
    margin: 42px 0 0 88px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.hse-logo {
    width: 283px;
    height: 120px;
    margin-top: 20px;
}